:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /* size */
    --base-space: 8px;
    --size-button: 80px;
    --size-border: 4px;
    --size-thumbnail: 60px;
    --font-size: 18px;
   



    /* annimation */
    --annimation-duration: 300ms;


}


/* BODY */
body {
    height: 100vh;
    background-color: var(--color-black);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

   
/* LOGO */
.logo {
    cursor: pointer;
    transition: transform var(--annimation-duration) ease;
}

.logo:hover {
    transform: scale(1.1);
}


/* BUTTON */
.btn {
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
   transition:  transform var(--annimation-duration) ease;
   margin: var(--base-space);
}

.btn:hover {
    transform: scale(1.1);
}

.imgBtn {
    width: var(--size-button);
    height: var(--size-button);
}

.colorBtn {
    font-size: var(--font-size);
    padding: calc(var(--base-space) * 2);
    border-radius: var(--size-border);
}

.blue {
    background-color: var(--color-blue);
}

.yellow {
    background-color: var(--color-yellow);
}

.pink {
    background-color: var(--color-pink);
}


/* ITEM */
.items {
    width: 35%;
    height: 60%;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
}

.item {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    padding: var(--base-space);
    margin-bottom: var(--base-space);
}

.item__thumbnail {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
}

.item__description {
    margin-left: var(--base-space);
    font-size: var(--font-size);
}